<script>
  let fanso;
  function updateFanso(button) {
    fanso = +button.textContent;
    document.querySelector(`[name="fanso"]`).value = fanso;
    document.querySelectorAll('.fanso').forEach((e) => (e.style.outline = ''));
    button.style.outline = '2px solid green';
    updateTable();
  }
  let money;
  function updateMoney(button) {
    money = +button.textContent;
    document.querySelector(`[name="money"]`).value = money;
    document.querySelectorAll('.money').forEach((e) => (e.style.outline = ''));
    button.style.outline = '2px solid green';
    updateTable();
  }
  /*
  function fanToOut(fan) {
    switch (fan) {
      case 3:
        return 4;
      case 4:
        return 8;
      case 5:
        return 12;
      case 6:
        return 16;
      case 7:
        return 24;
      case 8:
        return 32;
      case 9:
        return 48;
      case 10:
        return 64;
      case 11:
        return 96;
      case 12:
        return 128;
      case 13:
        return 192;
    }
  }
  */
  let fanToOut = {
    3: 4,
    4: 8,
    5: 12,
    6: 16,
    7: 24,
    8: 32,
    9: 48,
    10: 64,
    11: 96,
    12: 128,
    13: 192,
  };
  function updateTable() {
    if (!fanso || !money) return;
    let result = document.querySelector('#result');
    let html = '';
    for (let fan = 3; fan <= fanso; fan++) {
      let out = (fanToOut[fan] / 64) * money;
      let self = (out / 2) * 3;
      html += `<tr>
        <td>${fan}</td>
        <td>${out}</td>
        <td>${self}</td>
        </tr>`;
    }
    result.innerHTML = html;
  }
</script>
<form>
  <input name="fanso" hidden/>
  <input name="money" hidden/>
</form>
<h2>fanso</h2>
<button class="fanso" onclick="updateFanso(this)">8</button>
<button class="fanso" onclick="updateFanso(this)">10</button>
<button class="fanso" onclick="updateFanso(this)">13</button>
<h2>money</h2>
<button class="money" onclick="updateMoney(this)">64</button>
<button class="money" onclick="updateMoney(this)">128</button>
<button class="money" onclick="updateMoney(this)">192</button>
<button class="money" onclick="updateMoney(this)">256</button>
<button class="money" onclick="updateMoney(this)">320</button>
<button class="money" onclick="updateMoney(this)">384</button>
<h2>table</h2>
<table>
  <thead>
    <tr>
      <th>fanso</th>
      <th>out</th>
      <th>mo</th>
    </tr>
  </thead>
  <tbody id="result"></tbody>
</table>
